In [1]:
#importing libraries
import pandas as pd
import numpy as np
import os
import polars as pl

# Path

In [2]:
path = r'/Users/mehreenbecker/4.3 IC Data Import and Descriptive Analysis/Original File'

# Importing Database

In [3]:
df_custs = pd.read_csv(os.path.join(path, 'customers.csv'),index_col=False)

# Checking Data

In [4]:
df_custs.head()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [5]:
df_custs.shape

(206209, 10)

In [6]:
df_custs.describe()

             user_id            Age   n_dependants         income
count  206209.000000  206209.000000  206209.000000  206209.000000
mean   103105.000000      49.501646       1.499823   94632.852548
std     59527.555167      18.480962       1.118433   42473.786988
min         1.000000      18.000000       0.000000   25903.000000
25%     51553.000000      33.000000       0.000000   59874.000000
50%    103105.000000      49.000000       1.000000   93547.000000
75%    154657.000000      66.000000       3.000000  124244.000000
max    206209.000000      81.000000       3.000000  593901.000000

In [7]:
df_custs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206209 entries, 0 to 206208
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user_id       206209 non-null  int64
 1   First Name    194950 non-null  object
 2   Surnam        206209 non-null  object
 3   Gender        206209 non-null  object
 4   STATE         206209 non-null  object
 5   Age           206209 non-null  int64
 6   date_joined   206209 non-null  object
 7   n_dependants  206209 non-null  int64
 8   fam_status    206209 non-null  object
 9   income        206209 non-null  int64
dtypes: int64(4), object(6)
memory usage: 15.7+ MB

# Wrangling the Data

In [8]:
df_custs.head()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [9]:
## Not using names as identifiers since we've been using 'user id' this far

In [10]:
df_custs = df_custs.drop(columns=["First Name", "Surnam"])

# Checking

In [11]:
df_custs

,user_id,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Female,Maryland,26,1/1/2017,1,married,40374
...,...,...,...,...,...,...,...,...
206204,168073,Female,North Carolina,44,4/1/2020,1,married,148828
206205,49635,Male,Hawaii,62,4/1/2020,3,married,168639
206206,135902,Female,Missouri,66,4/1/2020,2,married,53374
206207,81095,Female,California,27,4/1/2020,1,married,99799
206208,80148,Female,New York,55,4/1/2020,1,married,57095

In [12]:
## Fixing format to match

In [13]:
df_custs.rename(columns = {'Gender' : 'gender'}, inplace = True)

In [14]:
df_custs.rename(columns = {'STATE' : 'state'}, inplace = True)

In [15]:
df_custs.rename(columns = {'Age' : 'age'}, inplace = True)

In [16]:
df_custs.rename(columns = {'n_dependants' : 'number_of_dependants'}, inplace = True)

In [17]:
df_custs.rename(columns = {'fam_status' : 'marital_status'}, inplace = True)

# Checking Changes

In [18]:
df_custs.head()

,user_id,gender,state,age,date_joined,number_of_dependants,marital_status,income
0,26711,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Female,Maryland,26,1/1/2017,1,married,40374

# Checking Missing Values, Duplicates or Mixed Type Data

In [19]:
df_custs.isnull().sum()

user_id                 0
gender                  0
state                   0
age                     0
date_joined             0
number_of_dependants    0
marital_status          0
income                  0
dtype: int64

In [20]:
df_dups= df_custs[df_custs.duplicated()]

In [21]:
df_dups

Empty DataFrame
Columns: [user_id, gender, state, age, date_joined, number_of_dependants, marital_status, income]
Index: []

In [22]:
df_custs.dtypes

user_id                  int64
gender                  object
state                   object
age                      int64
date_joined             object
number_of_dependants     int64
marital_status          object
income                   int64
dtype: object

# Combining Customer Data with Previously Prepared Data

In [23]:
df_ords_prods_merge = pd.read_pickle(os.path.join(path, "ords_prods_merge_4_8.pkl"))

# Checking the Data

In [24]:
df_ords_prods_merge.shape

(36210749, 43)

In [25]:
df_ords_prods_merge.describe()

,product_id_x,aisle_id_x,department_id_x,prices_x,Unnamed: 0_x,order_id,user_id_x,order_number_x,orders_day_of_week_x,order_hour_of_day_x,...,user_id_y,order_number_y,orders_day_of_week_y,order_hour_of_day_y,days_since_prior_order_y,add_to_cart_order_y,reordered_y,max_order,avg_spend_user,ord_regularity_median
count,3.621075e+07,3.621075e+07,3.621075e+07,3.621075e+07,3.621075e+07,3.621075e+07,3.621075e+07,3.621075e+07,3.621075e+07,3.621075e+07,...,1.544055e+07,1.544055e+07,1.544055e+07,1.544055e+07,1.442124e+07,1.544055e+07,1.544055e+07,3.621075e+07,3.621075e+07,3.283937e+07
mean,2.537128e+04,7.126962e+01,9.969021e+00,1.221849e+01,1.708822e+06,1.710302e+06,1.028746e+05,1.707483e+01,2.740198e+00,1.341146e+01,...,1.025094e+05,1.673751e+01,2.743036e+00,1.335511e+01,1.160847e+01,1.150555e+01,5.556546e-01,3.294099e+01,1.221849e+01,1.058609e+01
std,1.421861e+04,3.821232e+01,6.288009e+00,5.116333e+02,9.860408e+05,9.871433e+05,5.944098e+04,1.747413e+01,2.092663e+00,4.255786e+00,...,5.934289e+04,1.714800e+01,2.109079e+00,4.283335e+00,8.776587e+00,9.340110e+00,4.968929e-01,2.506224e+01,8.373534e+01,7.689912e+00
min,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,2.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,...,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00
25%,1.317600e+04,3.100000e+01,4.000000e+00,4.200000e+00,8.552900e+05,8.557560e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,...,5.108100e+04,4.000000e+00,1.000000e+00,1.000000e+01,5.000000e+00,5.000000e+00,0.000000e+00,1.300000e+01,7.386900e+00,6.000000e+00
50%,2.500500e+04,8.300000e+01,9.000000e+00,7.400000e+00,1.707303e+06,1.710471e+06,1.025000e+05,1.100000e+01,3.000000e+00,1.300000e+01,...,1.018950e+05,1.100000e+01,3.000000e+00,1.300000e+01,8.000000e+00,9.000000e+00,1.000000e+00,2.600000e+01,7.818805e+00,8.000000e+00
75%,3.775000e+04,1.070000e+02,1.600000e+01,1.120000e+01,2.564145e+06,2.564837e+06,1.542960e+05,2.400000e+01,5.000000e+00,1.600000e+01,...,1.537260e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01,1.600000e+01,1.000000e+00,4.700000e+01,8.244490e+00,1.300000e+01
max,4.968800e+04,1.340000e+02,2.100000e+01,9.999900e+04,3.421081e+06,3.421083e+06,2.062090e+05,9.900000e+01,6.000000e+00,2.300000e+01,...,2.062090e+05,9.900000e+01,6.000000e+00,2.300000e+01,3.000000e+01,1.310000e+02,1.000000e+00,9.900000e+01,2.500542e+04,3.000000e+01

In [26]:
df_ords_prods_merge.columns

Index(['product_id_x', 'product_name_x', 'aisle_id_x', 'department_id_x',
       'prices_x', 'Unnamed: 0_x', 'order_id', 'user_id_x', 'order_number_x',
       'orders_day_of_week_x', 'order_hour_of_day_x',
       'days_since_prior_order_x', 'First_order_x', 'add_to_cart_order_x',
       'reordered_x', '_merge_x', 'price_range_loc_x', 'product_id_y',
       'product_name_y', 'aisle_id_y', 'department_id_y', 'prices_y',
       'Unnamed: 0_y', 'user_id_y', 'order_number_y', 'orders_day_of_week_y',
       'order_hour_of_day_y', 'days_since_prior_order_y', 'First_order_y',
       'add_to_cart_order_y', 'reordered_y', '_merge_y', 'price_range',
       'price_range_loc_y', 'busiest_day', 'busiest_days',
       'busiest_period_of_day', 'max_order', 'loyalty_flag', 'avg_spend_user',
       'spending_flag', 'ord_regularity_median', 'frequency_flag'],
      dtype='object')

# Deleting the 'Merge' Column

In [27]:
df_ords_prods_merge.columns.tolist()

['product_id_x',
 'product_name_x',
 'aisle_id_x',
 'department_id_x',
 'prices_x',
 'Unnamed: 0_x',
 'order_id',
 'user_id_x',
 'order_number_x',
 'orders_day_of_week_x',
 'order_hour_of_day_x',
 'days_since_prior_order_x',
 'First_order_x',
 'add_to_cart_order_x',
 'reordered_x',
 '_merge_x',
 'price_range_loc_x',
 'product_id_y',
 'product_name_y',
 'aisle_id_y',
 'department_id_y',
 'prices_y',
 'Unnamed: 0_y',
 'user_id_y',
 'order_number_y',
 'orders_day_of_week_y',
 'order_hour_of_day_y',
 'days_since_prior_order_y',
 'First_order_y',
 'add_to_cart_order_y',
 'reordered_y',
 '_merge_y',
 'price_range',
 'price_range_loc_y',
 'busiest_day',
 'busiest_days',
 'busiest_period_of_day',
 'max_order',
 'loyalty_flag',
 'avg_spend_user',
 'spending_flag',
 'ord_regularity_median',
 'frequency_flag']

In [28]:
df_ords_prods_merge = df_ords_prods_merge.drop(columns=["_merge_x", "_merge_y"])

# Checking

In [29]:
df_ords_prods_merge.columns

Index(['product_id_x', 'product_name_x', 'aisle_id_x', 'department_id_x',
       'prices_x', 'Unnamed: 0_x', 'order_id', 'user_id_x', 'order_number_x',
       'orders_day_of_week_x', 'order_hour_of_day_x',
       'days_since_prior_order_x', 'First_order_x', 'add_to_cart_order_x',
       'reordered_x', 'price_range_loc_x', 'product_id_y', 'product_name_y',
       'aisle_id_y', 'department_id_y', 'prices_y', 'Unnamed: 0_y',
       'user_id_y', 'order_number_y', 'orders_day_of_week_y',
       'order_hour_of_day_y', 'days_since_prior_order_y', 'First_order_y',
       'add_to_cart_order_y', 'reordered_y', 'price_range',
       'price_range_loc_y', 'busiest_day', 'busiest_days',
       'busiest_period_of_day', 'max_order', 'loyalty_flag', 'avg_spend_user',
       'spending_flag', 'ord_regularity_median', 'frequency_flag'],
      dtype='object')

In [30]:
df_ords_prods_merge.shape

(36210749, 41)

In [31]:
df_custs = pl.from_pandas(df_custs)

In [32]:
## Checking Output Type

In [33]:
df_ords_prods_merge['user_id_x'].head()
df_ords_prods_merge['user_id_x'].dtype
type(df_ords_prods_merge['user_id_x'])

pandas.core.series.Series

In [34]:
# Merging Columns

In [35]:
df_ords_prods_merge["user_id"] = df_ords_prods_merge["user_id_x"].fillna(df_ords_prods_merge["user_id_y"])
df_ords_prods_merge = df_ords_prods_merge.drop(columns=["user_id_x", "user_id_y"])

In [36]:
df_ords_prods_merge.columns

Index(['product_id_x', 'product_name_x', 'aisle_id_x', 'department_id_x',
       'prices_x', 'Unnamed: 0_x', 'order_id', 'order_number_x',
       'orders_day_of_week_x', 'order_hour_of_day_x',
       'days_since_prior_order_x', 'First_order_x', 'add_to_cart_order_x',
       'reordered_x', 'price_range_loc_x', 'product_id_y', 'product_name_y',
       'aisle_id_y', 'department_id_y', 'prices_y', 'Unnamed: 0_y',
       'order_number_y', 'orders_day_of_week_y', 'order_hour_of_day_y',
       'days_since_prior_order_y', 'First_order_y', 'add_to_cart_order_y',
       'reordered_y', 'price_range', 'price_range_loc_y', 'busiest_day',
       'busiest_days', 'busiest_period_of_day', 'max_order', 'loyalty_flag',
       'avg_spend_user', 'spending_flag', 'ord_regularity_median',
       'frequency_flag', 'user_id'],
      dtype='object')

In [37]:
## Making sure both columns have the same data type

In [38]:
print(type(df_ords_prods_merge))
print(type(df_custs))

<class 'pandas.core.frame.DataFrame'>
<class 'polars.dataframe.frame.DataFrame'>

In [39]:
print(df_ords_prods_merge.columns.tolist())
print(df_custs.columns.tolist())

['product_id_x', 'product_name_x', 'aisle_id_x', 'department_id_x', 'prices_x', 'Unnamed: 0_x', 'order_id', 'order_number_x', 'orders_day_of_week_x', 'order_hour_of_day_x', 'days_since_prior_order_x', 'First_order_x', 'add_to_cart_order_x', 'reordered_x', 'price_range_loc_x', 'product_id_y', 'product_name_y', 'aisle_id_y', 'department_id_y', 'prices_y', 'Unnamed: 0_y', 'order_number_y', 'orders_day_of_week_y', 'order_hour_of_day_y', 'days_since_prior_order_y', 'First_order_y', 'add_to_cart_order_y', 'reordered_y', 'price_range', 'price_range_loc_y', 'busiest_day', 'busiest_days', 'busiest_period_of_day', 'max_order', 'loyalty_flag', 'avg_spend_user', 'spending_flag', 'ord_regularity_median', 'frequency_flag', 'user_id']

AttributeError: 'list' object has no attribute 'tolist'

In [40]:
if isinstance(df_ords_prods_merge, pl.DataFrame):
    df_ords_prods_merge = df_ords_prods_merge.to_pandas()

if isinstance(df_custs, pl.DataFrame):
    df_custs = df_custs.to_pandas()

print(type(df_ords_prods_merge))
print(type(df_custs))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

In [41]:
user_col_merge = [c for c in df_ords_prods_merge.columns if "user_id" in c][0]

user_col_cust = [c for c in df_custs.columns if "user_id" in c][0]

print("Orders/Products user column =", user_col_merge)
print("Customers user column      =", user_col_cust)

Orders/Products user column = user_id
Customers user column      = user_id

In [ ]:
df_ords_prods_merge["user_id"] = df_ords_prods_merge["user_id"].astype("int64")
df_custs["user_id"] = df_custs["user_id"].astype("int64")

df_ords_prods_merge_custs = df_ords_prods_merge.merge(
    df_custs,
    on="user_id",
    how="inner"
)

# Checking Data

In [ ]:
df_ords_prods_merge_custs.shape

In [ ]:
df_ords_prods_merge_custs.head()

# Installing Pyarrow and FastParquet

In [ ]:
!pip install pyarrow
!pip install fastparquet

# Exporting Data

In [ ]:
export_path = os.path.join(path, "df_ords_prods_merge_custs.pkl")
export_path

In [ ]:
df_ords_prods_merge_custs.write_parquet("df_ords_prods_merge_custs.parquet")

In [ ]:
df_ords_prods_merge_custs.to_pickle(path, "df_ords_prods_merge_custs.pkl")

In [ ]:
df_ords_prods_merge_custs.to_pandas().to_pickle(
    os.path.join(path, "df_ords_prods_merge_custs.pkl")
)